 /* Nav Layout */

 /* Appear banner man */
 @keyframes appear  {
  0% {transform: translate(-80px, 80px );}
  100%{transform: translateY(0, 0 );}


  0%{opacity: 0;}
  100%{opacity: 1;}
}

/* Designer animation */
@keyframes pulse-width {
    50%{
      width:100%;
    }
  }

  /* First Bent arrow animation */
  @keyframes shake{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(20deg);
    }
  }

  /* Circular wave animation */
  @keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(1.0, 1.0);
      opacity: 0;
    }
  }

  /* slide section */

/* Slide animation */
@keyframes slide-ads {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 8));
  }
}

/* Second slide animation */
@keyframes slide-ads2 {
  0% {
    transform: translateX(calc(-150px * 8));
  }
  100% {
    transform: translateX(0px);
  }
}

/* section 7 */

@keyframes shake-back{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(-20deg);
  }
}


