@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Root element(html) */
:root{
    scroll-behavior: smooth;
    --bg-color1  : hsl(60, 11%, 7%) ;
    --bg-color2 : hsl(0, 0%, 0%);
    --color : hsl(0, 0%, 100%);
    --color2 : hsl(0, 0%, 60%);
    --color4 : hsla(0, 0%, 60%, 0.3);
    --color3 : hsl(72, 90%, 53%);
    --bg-color3 : hsl(210, 8%, 10%);
    --bg-color4: hsl(0, 0%, 11%);
}

html {
  overflow-x: hidden !important;
}


  
  a {
    text-decoration: none;
  }

  .translateY{
    /* position: relative; */
    transform: translateY(150px);
    transition: 1s ease;
    opacity: 0;
    
    }
  .translateYN{
    /* position: relative; */
    transform: translateY(-150px);
    transition: 1s ease;
    opacity: 0;
    
    }
    .translateY.active, .translateYN.active{
    transform: translateY(0px);
    opacity: 1; 
    z-index: 1;
    }
  .flip{
    position: relative;
    transform: rotateX(180deg);   
         transition: 0.5s ease;
         perspective: 1000px;
    opacity: 0;
    
    }
    .flip.active{
      transform: rotateX(0deg);   

    opacity: 1; 
    z-index: 1;
    }
    .pop{
      transform: scale(0);
      transition: 1s ease;
    }
    .pop.active{
      transform: scale(1);
    }


  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }


body{
    font-family: "Kanit", sans-serif;
    background-color: var(--bg-color1);
    /* width: 100%; */
    overflow-x: hidden !important;
    margin: 0;
}

/* Main container */
.main-container {
  /* width: 100%; */
  margin: -10px auto;
  padding: 0;
  overflow-x: hidden;
}

/* Nav section  */
.nav-section {
   /* width: 100%;  */
  padding: 0 5px 0 5px;
  background-image: url(../IMG/banner/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -350px 15px;
  background-attachment: fixed;
  height: 510px;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  width: 100%;
  /* margin-top: -5px; */
  padding: 5px;
  padding-left: 20px;
  display: flex;
  width: 105%;
  height: 80px;
  align-items: center;
  border-bottom: 1px var(--color4) solid; 
  position: fixed; 
  z-index: 10;
  background-color: var(--bg-color2);
  margin: 0;
  margin-left: -10px;
  box-sizing: border-box;
} 

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

/* .sticky + .overall-layout {
  padding-top: 150px;
} */


.logo {
  width: 100px;
  height: 25px;
   margin-top: -6px; 
}

.logo img {
  width: 100%;
  height: 100%;
}

/* Navigation */
.nav-hovers {
  display: none;
}

/* Nav bars & button */
.nav-buttons {
  width: 60%;
  height: 50px;
  display: flex;
  gap: 5px;
  margin-left:20px ;
  /* margin-right: -10px; */
}

#barrow{
  width: 50%;
  margin-left: 10%;
  
}

#arrow-button {
  width: 100%;
  height: 45px;
  background-color: var(--color3);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  position: relative;
  overflow: hidden;
}

#arrow-button:hover {
  opacity: 0.8;
}

#arrow-button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #b0da0a;
  z-index: -1;
  transition: 1s;
}
#arrow-button:hover::before{
  height: 180%;
}


.fa-bars {
  color: var(--color) ;
  font-size: 25px;
  transition: opacity 0.3s ease;
}

.bars p{
  color: var(--color) ;
  font-size: 55px;
  position: absolute;
  top: -60px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bars{
  margin: 10px 10px 0 15px;
  /* position: relative; */
}

#last-bars{
  color: var(--bg-color2);
  width: 30px;
  
}
.reveal {
  border-radius: 8px;
  border: none;
  height: 42px;
  background-color: var(--color);
  margin-top: 2px;
  margin-right:-5px ;
  margin-left: 10px;
}
.reveal .fa-bars {
  font-size: 20px;
}

.closebtn {
  font-size: 70px;
}






.overall-layout {
  color: var(--color);
}



/* Nav layout */
.overall-layout {
  display: block; 
  padding-top: 90px;
} 

/* First cont */
.layout-div1 {
  display: none;
}

/* Second cont */
.layout-div2 {
  margin-top: 60px;
  width: 78%;
  position: absolute;
  float: left;
  padding-left: 5px;
}

#f-anchor {
  width: 95%;
  position: relative;
  padding-bottom: 20px;
}
#f-anchor:hover{
  cursor: pointer;
}
hr {
  margin-top: 15px ;
  width: 85%;
  margin-left: -1px;
}
#f-anchor a:hover{
  color: var(--color3);
}

#f-anchor a{
  color: var(--color);
}

#anchor-span {
  font-size: 20px;
  margin-left: 10px;
}

.layout-div2  h1{
  width: 100%;
  font-size: 35px;
  margin-top: -10px;
  line-height: 40px;
}

.h1-span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color);
  position: relative;
  transition: all 0.5s;
}

 .h1-span::before {
  content: "Designer";
  position: absolute;
  width: 0%;
  color: var(--color3);
  overflow: hidden;
  animation: pulse-width 3s ease-in infinite;
  -webkit-text-stroke-width:1px ;
  -webkit-text-stroke-color: var(--color3);
}




.layout-div2 div:nth-of-type(3){
  width: 80%;
  display: flex;
  gap: 4;
}

.layout-div2 div:nth-of-type(3) div{
  border: 1px solid var(--color) ;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 8px 9px 0 15px;
  position: relative;
}

.layout-div2 div:nth-of-type(3) div::before {
  content: "";
  position: absolute;
  width: 192%;
  height: 192%;
  border-radius: 50%;
  margin: -27px 9px 0 -28px;
  border: 5px solid var(--color) ;
  opacity: 0;
  animation: scaleIn 2s infinite ease-in-out;
}

.layout-div2 div:nth-of-type(3) div a{
  color: var(--color);
  margin: 0 auto 0 20px;
 

}

.layout-div2 div:nth-of-type(3) div a .fa-play{
  margin-top: 15px;
  
}

.layout-div2 div:nth-of-type(3) p{
  margin-left: 10px;
}

.layout-div2 div:nth-of-type(3) img{
 width: 35px;
 animation-name: shake;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
 animation-direction: alternate;
 animation-delay: -2s;
}

/* third cont */
.layout-div3 {
  width: 28%;
  height: 150px;
  margin-top: 270px;
  position: absolute;
  z-index: 1;
  float: right;
  margin-left: 250px;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.layout-div3 img {
  width: 100%;
  height: 100%;
}

/* Fourth cont */
.layout-div4 {
  display: none;
}

/* Scroll section  */

 .scroll-text{
  width: calc(200px * 16);
  display: flex;
  align-items: center;
  animation: slide-ads 20s linear infinite;
  justify-content: space-between;
  height: 100%;
  gap: 50px;
  background-color: var(--color3);
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-x: hidden;
  z-index: 2;
  position: relative;
}   

 .scroll2{
  animation: slide-ads2 20s linear infinite;
  width: calc(200px * 16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 50px;
  background-color: var(--color3);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 40px;
  overflow-x: hidden;
}



/* Section one */
.section1 {
  padding: 10px;
  color: var(--color);
}

.starImage {
  width: 30px;
  margin: 70px auto 30px auto;
  animation: show-star 3s ease ;
}

.starPara {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  animation: move-up 1.5s ease-out;
}

.starBtns {
  width: 85%;
  height: 100px;
  margin: 0 auto;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}

.starBtns button{
   /* margin: 0 2px 0 2px; */
   border: none;
   border-radius: 10px;
   color: var(--color);
   background-color: var(--bg-color3);
} 

.starBtns button:nth-of-type(1) {
  height: 35px;
  width: 85px;
  margin-left: 0px;
}

.starBtns button:nth-of-type(2) {
  height: 35px;
  width: 130px;
  margin-left: -35px;
}

.starBtns button:nth-of-type(3)  {
  height: 35px;
  width: 130px;
  margin-left: 0px;
  
}

.starBtns button:nth-of-type(4) {
  height: 35px;
  width: 85px;
  margin-left: -35px;
}

/*  second container section one */
.mainPortfol {
  background-color: var(--bg-color3);
  width: 98%;
  margin: 80px auto 0 auto;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
 
}

.manSeat {
  width: 100%;
  height: 350px;
  margin-top: 30px;
  animation: expand-in 0.5s linear;
}

.manSeat img{
  width: 100%;
  height: 100%;
}

/* Aside subsection */
.generalAside {
  /* border: 1px solid red; */
  padding: 2px;
}



.portfol1 h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;
  animation: move-up 0.5s linear;
}

#moving-up {
  animation: move-up 1.5s linear;
}

.theWrap{
  animation: expand-in 0.7s linear;
}

.portfol1 div:nth-of-type(1) p{
  width: 100%;
  margin: 0 auto;
  color: var(--color2);
  font-size: 19px;
  margin-bottom: 40px;
}

.personalInfo div:nth-of-type(2) div{
  border: none;
  margin: 20px auto 20px auto;
  background-color: var(--bg-color4);
  border-radius: 10px;
  width: 95%;
  height: 130px;
  box-sizing: border-box;
  padding-top: 1px;
}
.personalInfo div:nth-of-type(2) div:hover{
  border: 1px solid var(--color3);
}

 .bio p{
  color: var(--color2);
  margin: 30px 0 10px 35px;
  font-size: 19px;
  width: 150px;
}

#firstP {
  margin: 30px 0 10px 35px;
}

.portfol1 div:nth-of-type(2) a{
  color: var(--color);
  font-size: 19px;
  margin: 10px 0 2px 35px;
  font-weight: 300;
  
}

#connect{
  display: flex;
  height: 35px;
  width: 250px;
  border: none;
  margin-left: 33px;
}

#connect a {
  margin: -10px 4px 0 4px;
  font-size: 25px;
}



/* Experince */

.portfol2{
  display: none;
}

.portfol2 h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;
  animation: move-up 1.5s ease-out;
}

.portfol2 div:nth-of-type(1) p{
  width: 100%;
  margin: 0 auto;
  color: var(--color2);
  font-size: 19px;
  margin-bottom: 40px;
}


.theJob .containerWork{
  width: 95%;
  height: 220px;
  border-top: var(--color4) 1px solid;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theJob .containerWork:hover{
  border-top: 1px solid var(--color3);
}

.containerWork div:nth-of-type(1) p{
  color: var(--color3);
  margin-top: 35px;
}

.containerWork div:nth-of-type(2) h3{
  font-size: 22px;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 70px;
}

.containerWork div:nth-of-type(2) p{
  margin-bottom: -40px;
  font-weight: 400;
  color: var(--color2);
  font-size: 18px;
  font-weight: 400;
}

.number3 {
  border-bottom: var(--color4) 1px solid;
  border-top: var(--color4) 1px solid;
}

.number3:hover{
  border-bottom: var(--color3) 1px solid;
  border-top: var(--color3) 1px solid;
}

/* School */

.portfol3{
  animation: move-up 0.5s ease-in;
  display: none;
}

.portfol3 h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;
}

.portfol3 div:nth-of-type(1) p{
  width: 100%;
  margin: 0 auto;
  color: var(--color2);
  font-size: 19px;
  margin-bottom: 40px;
}


.theEdu .containerSchool{
  width: 95%;
  height: 220px;
  border-top: var(--color4) 1px solid;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theEdu .containerSchool:hover{
  border-top: 1px solid var(--color3);
}

.containerSchool div:nth-of-type(1) p{
  color: var(--color3);
  margin-top: 35px;
}

.containerSchool div:nth-of-type(2) h3{
  font-size: 22px;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 70px;
}

.containerSchool div:nth-of-type(2) p{
  margin-bottom: -40px;
  font-weight: 400;
  color: var(--color2);
  font-size: 18px;
  font-weight: 400;
}

.number3 {
  border-bottom: var(--color4) 1px solid;
  border-top: var(--color4) 1px solid;
}

.number3:hover{
  border-bottom: var(--color3) 1px solid;
  border-top: var(--color3) 1px solid;
}


/* Skills */

.portfol4{
  animation: move-up 0.5s ease-in;
  display: none;
}

.portfol4 h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;

}
.portfol4 h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;

}

.portfol4 div:nth-of-type(1) p{
  width: 100%;
  margin: 0 auto;
  color: var(--color2);
  font-size: 19px;
  margin-bottom: 40px;
}

.realSkill {
    margin: 25px auto 25px auto;
    background-color: var(--bg-color4);
    border-radius: 10px;
    width: 95%;
    height: 150px;
    display: flex;
    justify-content: center;
    /* gap: 5; */
} 

.realSkill:hover{
  border: 1px solid var(--color3);
}

.skillLogo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.skillLogo img{
  width: 100%;
  height: 100%;
}

.realSkill div:nth-of-type(2){
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.realSkill div:nth-of-type(2) p{
  font-size: 16px;
  color: var(--color2);
  margin-left: 14px;
  margin-top: 25px;
}

.realSkill div:nth-of-type(2) h3{
  font-size:50px;
  font-weight: 600;
  margin-top: -20px;
  margin-left:15px ; 
}

#eight5 {
  margin-top: -45px;
}





/* Section 2 */

.awards {
  display: flex;
  flex-direction: column;
  color: var(--color);
  background-color: var(--bg-color3);
  padding: 50px 10px 50px 10px;
}



.awards div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-top: solid 1px var(--color4);
  width: 100%;
}

.awards div:nth-of-type(1) {
  border-top: none;
}

.awards div:nth-of-type(1) h1{
  font-weight: 400;
}

.awards div:nth-of-type(1) a{
  color: var(--color3);
  font-size: 18px;
}

.awards div:nth-of-type(5){
  border-bottom: solid 1px var(--color2);
}

.awards div p:nth-of-type(1){
  width: 120px;
}
.awards div p:nth-of-type(2){
  margin-left: -40px;
  width: 120px;
}

/* Section 3 */

.feedBack {
  color: var(--color);
  padding: 10px;
}

.completeProject {
  margin-top: 70px
}

.feedBack .completeProject h3{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: var(--color3);
  max-width: 100%;
  margin: 50px auto;
  position: relative;
  animation: move-down 1.5s linear;
}

.feedBack .completeProject h3:before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--color3);
  left: 8px;
  top: 50%;
  position: absolute;
}

.feedBack .completeProject h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--color3);
  right: 8px;
  top: 50%;
  position: absolute;
}

.completeProject p{
  font-size: 30px;
  text-align: center;
  line-height: 35px;
  animation: move-up 1.5s linear;
}

.activeProductDesign1, .activeProductDesign2, .activeProductDesign3, .activeProductDesign4, .activeProductDesign5, .activeProductDesign6{
  animation: move-up 1.5s linear;
}

/* Product images */

/* .uiuxProductDesign {
  width: 100%;
} */
.insideProductDesign{
  width: 100%;
}

.uiuxProductDesign img{
  width: 100%;
  border-radius: 15px;
}
.uiuxProductDesign h2{
  font-weight: 400;
  font-size: 20px;
  color: var(--color3);
}

.uiuxProductDesign p{
  font-size: 22px;
  width: 90%;
}

.uiuxProductDesign span{
  background-color: var(--bg-color3);
  margin-left: 10px;
  width: 60px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.brandName{
  display: flex;
  margin-top: -30px;
}

.brandName a{
  color: var(--color);
  font-size: 30px;
  margin-left: 15px;
}

/* The circle */
.moreWork {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--color3);
  margin: 60px auto 60px auto;
  position: relative;
  animation: move-down 1.5s linear;
}

.moreWork::before {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid var(--color3);
  background: transparent;
  position: absolute;
  top: 8px;
  left: -8px;
  transition: top 0.3s ease-out;
}

.moreWork::before:hover{
  top: -20px;
}

.moreWork #moreLink{
  color: var(--bg-color2);
  font-size: 13px;
  margin-left:14px;
  width: 80%;
  margin-top: 45px;
  position: absolute;
}

#moreLink span{
  margin-left: 35px;
  font-size: 20px;
}

/* Section 4 */

.needAProject{
  padding: 5px;
  background: var(--bg-color3);
  color: var(--color);
  padding-bottom: 90px;
}

.getProject {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}

.together h3 {
  font-size: 25px;
  font-weight: 400;
  color: var(--color3);
  margin: 50px auto;
  position: relative;
  max-width: 100%;
  text-align: center;
  animation: move-down 1s linear;
}

.together h3:before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--color3);
  left: 15px;
  top: 50%;
  position: absolute;
}

.together p {
  font-size: 30px;
  /* text-align: center; */
  line-height: 35px;
  margin-bottom: 50px;
  animation: move-down 1.5s linear;
}

.emailAndLocation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reachOut {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  gap: 20px;
  border-top: 1px solid var(--color4);
  border-bottom: 1px solid var(--color4);
  animation: move-up 1.5s linear;
}

.reachOut p {
  font-size: 20px;
  color: var(--color2);
  margin-bottom: 5px;
  margin-top: -5px;
}

.reachOut a{
  font-size: 16px;
  color: var(--color);
  margin-top: -5px;
}

.connectLocation {
  border-top: none;
}

.reachOut div:nth-of-type(1) {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: var(--color3);
}

.reachOut .fa-envelope {
  font-size: 25px;
  color:var(--bg-color2);
  margin-left: 18px;
  margin-top: 15px;
}

.reachOut .fa-map-marker {
  font-size: 30px;
  color:var(--bg-color2);
  margin-left: 23px;
  margin-top: 15px;
}

.reachOut:hover {
  border-bottom: 1px solid var(--color3);
}

#setIt {
  width: 100%;
  height: 400px;
  margin-top: 90px;
  animation: expand-in-slow 2.5s linear;
}

#setIt img{
  width: 100%;
  height: 100%;
}

/* Section 5 */

.serviceToProvide{
  color: var(--color);
  width: 100%;
  padding-bottom: 90px;
}

.ourService {
  width: 100%;
}

.ourService h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: var(--color3);
  max-width: 70%;
  margin: 50px auto;
  position: relative;
  animation: move-down 1.5s ease-out;
}

.ourService h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--color3);
  left: -35px;
  top: 50%;
  position: absolute;
}

.ourService h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--color3);
  right: -35px;
  top: 50%;
  position: absolute;
}

.ourService p{
  font-size: 30px;
  text-align: center;
  line-height: 35px;
  margin-top: -15px;
  animation: move-up 1.5s ease-out;
}

.listOfServices {
  width: 100%;
}

.listContainers  {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color4);
  padding-bottom: 30px;
}

.listContainers {
  animation: move-up 1.5s ease-out;
}

.listContainers:nth-of-type(1) {
  border-top: 1px solid var(--color4);
}

.listContainers:nth-of-type(1):hover{
  border-bottom: 1px var(--color3) solid;
  border-top: 1px solid var(--color3);
}


.listContainers div:nth-of-type(1) h1{
  margin-left: 50px ;
  font-weight: 400;
  font-size: 30px;
  margin-top: -20px;
}

.listContainers div:nth-of-type(1) h3{
  font-weight: 400;
}

.listContainers div:nth-of-type(1) h3 span{
  font-size: 25px;
  margin-right: 16px;
}

.listContainers div:nth-of-type(2) p{
  font-size: 17px;
  font-weight: 400;
  color: var(--color2);
  width: 90%;
  margin-top: -20px;
}

.listContainers div:nth-of-type(3) {
  background: var(--bg-color3);
  border: none;
  border-radius: 10px;
  width: 45px;
  height: 45px;
}

.listContainers div:nth-of-type(3) a{
  color: var(--color);
  font-size: 25px;
  margin-top: 15px;
  margin-left: 15px;
}

.listContainers:hover{
  border-bottom: 1px solid var(--color3);
}




.footer div:nth-of-type(2) a {
 color: var(--color);
 font-size: 20px;
}

/* Section 6 */
.dreamWebsite {
  color: var(--color);
  background: var(--bg-color3);
  padding: 5px;
  border: none;
  padding-bottom: 80px;
}

.dreamWebsite h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: var(--color3);
  max-width: 70%;
  margin: 50px auto;
  position: relative;
  margin-top: 90px;
  animation: move-down 1.5s ease-out;
}

.dreamWebsite h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--color3);
  left: -35px;
  top: 50%;
  position: absolute;
}

.dreamWebsite h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--color3);
  right: -35px;
  top: 50%;
  position: absolute;
}

#firstDream {
  font-size: 30px;
  text-align: center;
  line-height: 35px;
  margin-top: -15px;
  animation: move-up 1.5s ease-out;
}

.unorderedListing {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.unorderedListing div{
  border: 1px solid var(--color4);
  width: 95%;
  margin: 20px auto 20px auto;
  height: 360px;
  border-radius: 15px;
}

.unorderedListing div:hover{
  border: 1px solid var(--color3);
}

.unorderedListing div *{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.unorderedListing div h2 {
  font-size: 35px;
  font-weight: 500;
}

.unorderedListing div p{
  font-size: 20px;
  margin-top: -20px;
  color: var(--color2);
}




.unorderedListing div li{
  color: var(--color2);
  font-size: 18px;
}

.unorderedListing div li::marker{
  color: var(--color3);
  font-size: 25px;
  margin-top: 5pz;
}

.turnX {
  animation: turn-x 1s linear;
}

/* Section 7 */

.testimonial {
  padding: 5px;
  color: var(--color);
}

.testimonial h3{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: var(--color3);
  max-width: 70%;
  margin: 50px auto;
  position: relative;
  animation: go-up 1.5s ease-out;
}

.testimonial h3::before{
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--color3);
  left: -10px;
  top: 50%;
  position: absolute;
}

.testimonial h3::after{
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--color3);
  right: -10px;
  top: 50%;
  position: absolute;
}

#testimony {
  font-size: 30px;
  text-align: center;
  line-height: 35px;
  margin-top: -15px;
  width: 100%;
  animation: move-down 1.5s ease-out;
}

.movingTest p:nth-of-type(1){
  color: rgb(255,163,17);
  font-size: 30px;
}

.movingTest p:nth-of-type(2){
  font-style: italic;
  font-size: 18px;
}

.movingTest h2 {
  color: var(--color3);
  font-size: 28px;
  font-weight: 500;
}

.movingTest p:nth-of-type(3){
  color: var(--color2);
  font-size: 20px;
}

#twistArrow {
  animation: shake-back 1s linear infinite alternate;
  
}

/* Section 8 */

.blogs{
  width: 100%;
  color: var(--color);
  background: var(--bg-color3);
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 80px;
}

.blogIntro {
  width: 100%;
  display: flex;
  flex-direction: column;
} 

.blogIntro h3{
  font-size: 25px;
  font-weight: 400;
  color: var(--color3);
  margin: 50px 0 50px 75px;
  position: relative;
  max-width: 100%;
  animation: move-down 1.5s ease-out;
}

.blogIntro h3::before{
  content: "";
  display: block;
  width: 50px;
  height: 1.5px;
  background: var(--color3);
  left: -68px;
  top: 50%;
  position: absolute;
}

.blogIntro p{
  font-size: 30px;
  line-height: 35px;
  margin-top: -15px;
  width: 100%; 
  margin-left: 10px;
  animation: move-down 1.2s ease-out
}

/* The circle */
.blogIntro div{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--color3);
  margin: 40px 0px 40px 15px;
  position: relative;
  animation: move-down 1.7s ease-out
}

.blogIntro div::before{
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid var(--color3);
  background: transparent;
  position: absolute;
  top: 8px;
  left: -8px;
}

.blogIntro div a{
  color: var(--bg-color2);
  font-size: 13px;
  margin-left:14px;
  width: 80%;
  margin-top: 35px;
  position: absolute;
}

.blogIntro div span {
  margin-left: 35px;
  font-size: 20px;
}

.blogShowcase{
  animation: move-up 1.5s ease-out
}


.blogShowcase:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color4);
  border-bottom: 1px solid var(--color4);
  padding-top: 30px;
  padding-bottom: 40px;
}
.blogShowcase:nth-of-type(1):hover{
  border-bottom: 1px solid var(--color3);
  border-top: 1px solid var(--color3);
}

.blogShowcase:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color4);
  padding-top: 30px;
  padding-bottom: 40px;
}

.blogShowcase:nth-of-type(2):hover{
  border-bottom: 1px solid var(--color3);
}

.blogShowcase:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color4);
  padding-top: 30px;
  padding-bottom: 40px;
}

.blogShowcase:nth-of-type(3):hover{
  border-bottom: 1px solid var(--color3);
}

#blogDate {
  color: var(--color2);
  border: 1px solid var(--color4);
  width: 45%;
  border-radius: 20px;
  height: 40px;
}

#blogDate p {
  margin-left: 20px;
  margin-top: 6px;
}

.blogShowcase img{
  width: 80%;
  margin-left: 30px;
}

.blogShowcase div:nth-of-type(3){
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--color);
  margin: 20px auto;
}

.blogShowcase .fa {
  margin-left: 22px;
  margin-top: 20px;
}

.blogShowcase h2{
  font-weight: 500;
  font-size: 22px;
}

/* Section 9 */

.getInTouch{
  padding: 90px 5px 90px 5px;
  color: var(--color);
}

#veryBigHeader {
  font-size: 30px;
  border: 1px solid var(--color4);
  border-radius: 15px;
  width: 100%;
  height: 60px;
  align-content: center;
  animation: go-up 1.5s ease-out
}

#veryBigHeader h1{
  font-weight: 400;
  text-align: center;
}

.myself p {
 font-size: 20px;
 margin-bottom: 8px;
}

.myself a{
 font-size: 20px;
 text-decoration: underline;
 color: var(--color);
}

.connectWithMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.connectWithMe div {
  border: 1px solid var(--color4);
  border-radius: 15px;
  height: 60px;
  align-content: center;
}

.connectWithMe div:hover {
 background: var(--color3);
}


.connectWithMe a {
  color: var(--color);
  font-size: 25px;
  margin-left: 25px;
}

.connectWithMe a:hover {
  color: var(--bg-color2);
}

.connectWithMe a span {
  margin-left: 150px;
}

.connectWithMe div:nth-of-type(2) span{
   margin-left: 180px;
}

.connectWithMe div:nth-of-type(3) span, .connectWithMe div:nth-of-type(4) span {
  margin-left: 165px;
}

/* Footer */

.footer {
color: var(--color);
width: 100%;
display: flex;
flex-direction: column;
background: var(--bg-color3);
padding-top: 40px;
padding-bottom: 40px;
gap: 15px;
}

.footer div:nth-of-type(1){
  font-size: 20px;
  
}
.footer div:nth-of-type(1) a {
  color: var(--color3);
}

.footer div:nth-of-type(2){
  width: 90%;
  margin: 0 auto;
}

.footer div:nth-of-type(2) a:nth-of-type(2){
  margin-left: 15px;
}

.footer div:nth-of-type(3) {
    background: var(--color3);
    width: 10%;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
   align-content: center;
   text-align: center;
}

.footer div:nth-of-type(3) a {
   font-size: 25px;
   color: var(--bg-color2);
}



.footer div:nth-of-type(2) a {
 color: var(--color);
 font-size: 20px;
}






@media screen and (min-width: 1024px) {
  :root{
    scroll-behavior: smooth;
    --bg-color1  : hsl(60, 11%, 7%) ;
    --bg-color2 : hsl(0, 0%, 0%);
    --color : hsl(0, 0%, 100%);
    --color2 : hsl(0, 0%, 60%);
    --color4 : hsla(0, 0%, 60%, 0.3);
    --color3 : hsl(72, 90%, 53%);
    --bg-color3 : hsl(210, 8%, 10%);
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 4px;
    height:4px ;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg-color3); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color3); 
    border-radius: 10px;
  }
  
  a {
    text-decoration: none;
  }

body, html{
    font-family: "Kanit", sans-serif;
    background-color: var(--bg-color1);
    /* width: 100%; */
    margin:0;
    padding:0;
  overflow-y: scroll;
}

/* Main container */
.main-container {
  /* width: 100%; */
  margin: 0 auto;
  overflow-x: hidden;
}

/* Nav section  */
.nav-section {
   /* width: 100%;  */
  padding: 0 5px 0 5px;
  background-image: url(../IMG/banner/banner-bg.png);
  background-repeat: no-repeat;
  background-size:110% ;
  background-position: -30px -80px;
  background-attachment: absolute;
  height: 930px;
}

/* Header */
.header {
  /* width: 100%; */
  margin-top: -2px;
  padding: 10px;
  display: flex;
  height: 90px;
  align-items: center;
  border-bottom: 1px var(--color4) solid; 
  position: fixed;
  z-index: 10;
  /* margin-right: 5px; */
  justify-content: center;
}

.logo {
  width: 150px;
  height: 35px;
   margin-top: -6px; 
   margin-left: -40px;
}

.logo img {
  width: 100%;
  height: 100%;
}

/* Navigation */
.nav-hovers {
  display: inline-block;
  margin-left: 100px;
  position: relative;
}

/* Hover drop down nav */
.nav-hovers li .tooltip-text{
  visibility: hidden;
  width: 230px;
  height: 80px;
  background-color: var(--color);
  padding: 5px;
  position: absolute;
  z-index: 5;
  bottom: -160%;
  left: 49%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  border: none;
  align-content: center;
}

.nav-hovers li .tooltip-text a{
  color: var(--bg-color2);
}

.nav-hovers li .tooltip-text a:hover{
  margin-left: 30px;
  transition: 1s;
}


.nav-hovers li .tooltip-text *{
  margin-left: 20px;
  font-size: 20px;
}

.nav-hovers li .tooltip-text::after {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  margin-left: -5px;
  border-width: 18px;
  border-style: solid;
  border-color: transparent transparent var(--color) transparent;
  width: 0;
  height: 40px;
}

.nav-hovers li:hover .tooltip-text{
  visibility: visible;
  opacity: 1;
  animation: move-up 0.5s ease-out;
}

/* Second tooltip */
.nav-hovers li .tooltip-link{
  visibility: hidden;
  width: 230px;
  height: 80px;
  background-color: var(--color);
  padding: 5px;
  position: absolute;
  z-index: 5;
  bottom: -160%;
  left: 83%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  border: none;
  align-content: center;
}

.nav-hovers li .tooltip-link a{
  color: var(--bg-color2);
}

.nav-hovers li .tooltip-link a:hover{
  margin-left: 30px;
  transition: 1s;
}


.nav-hovers li .tooltip-link *{
  margin-left: 20px;
  font-size: 20px;
}

.nav-hovers li .tooltip-link::after {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  margin-left: -5px;
  border-width: 18px;
  border-style: solid;
  border-color: transparent transparent var(--color) transparent;
  width: 0;
  height: 40px;
}

.nav-hovers li:hover .tooltip-link{
  visibility: visible;
  opacity: 1;
  animation: move-up 0.5s ease-out;
}

.nav-hovers ul {
  display: flex;
 align-items: center;
}

.nav-hovers li {
  margin: 0 15px;
  font-weight: 300;
  list-style: none;
}

.nav-hovers li a {
  color: var(--color);
}

.nav-hovers li a:hover {
  color: var(--color3);
}

.dropdown-content {
  display: none;
  background-color: var(--color);
  z-index: 3;
  border: none;
}




/* Nav bars & button */
.nav-buttons {
  width: 250px;
  height: 50px;
  display: flex;
  gap: 5px;
  margin-left:80px ;
  justify-items: center;
}



#arrow-button {
  width: 120px;
  height: 45px;
  background-color: var(--color3);
  border: none;
  border-radius: 5px;
  margin-left: -10px;
  font-size: 18px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  position: relative;
  overflow: hidden;
}

#arrow-button:hover {
  opacity: 0.8;
}

#arrow-button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #b0da0a;
  z-index: -1;
  transition: 1s;
}
#arrow-button:hover::before{
  height: 180%;
}


.fa-bars {
  color: var(--color) ;
  font-size: 25px;
  transition: opacity 0.3s ease;
}

.bars{
  margin: 10px 10px 0 10px;
  display: none;
}

#last-bars{
  color: var(--bg-color2);
  width: 30px;
  
}
.reveal {
  border-radius: 8px;
  border: none;
  height: 60px;
  width: 60px;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: -8px;
  background-color: var(--color);
}

.reveal .fa-bars {
  font-size: 30px;
}

.closebtn {
  font-size: 70px;
}

.sidebar1 {
  color: var(--color);
  display: none;
}




.overall-layout {
  color: var(--color);
}



/* Nav layout */
.overall-layout {
  display: flex; 
  height: 800px;
  padding-top: 110px;
} 



/* First cont */
.layout-div1 {
  display: block;
  width: 8%;
  margin-top: 110px;
  height: 800px;
  position: absolute;
}

.layout-div1  p{
  rotate: 90deg;
}

.layout-div1 div:nth-of-type(1){
  margin-bottom: 20px;
  height: 300px;
}

.layout-div1 div:nth-of-type(1) img{
  margin-left: 33px;
  margin-top: 10px;
}

.layout-div1  div:nth-of-type(1) p{
  margin-top: -135px;
  margin-left: -107px;
  width: 300px;
}

.layout-div1  .div1-2 {
  margin-top: 50px;
  height: 300px;
}

.layout-div1  .div1-2 p{
  width: 200px;
  margin-left: -55px;
  color: var(--color2);

}

.layout-div1 .div1-2 img{
  height: 100px;
  width: 40%;
  margin-left: 25px;

}

/* Second cont */
.layout-div2 {
  /* margin-top: 60px; */
  width: 60%;
  position: absolute;
  /* float: left; */
  padding-left: 5px;
  z-index: 3;
  margin-left: 3.5%;
  margin-top: 130px;
}

#f-anchor {
  width: 52%;
  position: relative;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 300;
}
#f-anchor:hover{
  cursor: pointer;
}
hr {
  margin-top: 15px ;
  width: 90%;
  margin-left: -1px;
}
#f-anchor a:hover{
  color: var(--color3);
}

#f-anchor a{
  color: var(--color);
  line-height: 10px;
}

#anchor-span {
  font-size: 30px;
  margin-left: 10px;
}

.layout-div2  h1{
  width: 100%;
  font-size: 105px;
  margin-top: -10px;
  line-height: 120px;
}



.layout-div2 div:nth-of-type(3){
  width: 60%;
  display: flex;
  gap: 4;
}

.layout-div2 div:nth-of-type(3) div{
  border: 1px solid var(--color) ;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 8px 9px 0 40px;
  position: relative;
}

.layout-div2 div:nth-of-type(3) div::before {
  content: "";
  position: absolute;
  width: 195%;
  height: 195%;
  border-radius: 50%;
  top: -16px;
  left:-15px ;
  border: 6px solid var(--color) ;
  opacity: 0;
  animation: scaleIn 2s infinite ease-in-out;
}

.layout-div2 div:nth-of-type(3) img{
  width: 11%;
  height: 70px;
  margin-top: 10px;
  margin-left: 10px;
}

.layout-div2 div:nth-of-type(3) div a{
  color: var(--color);
  margin: 0 auto 0 20px;
  font-size: 30px;
}


.layout-div2 div:nth-of-type(3) div a .fa-play{
  margin-top: 23px;
  margin-left: 10px;
}

.layout-div2 div:nth-of-type(3) p{
  margin-left: 25px;
  font-size: 23px;
  width: 25%;
  font-weight: 300;
  line-height: 30px;
}

.layout-div2 div:nth-of-type(3) img{
  background-color: transparent;
}

/* third cont */
.layout-div3 {
  width: 43%;
  height: 800px;
  margin-top: 20px;
  position: absolute;
  z-index: 1;
  float: right;
  margin-left: 710px;
  display: block;
}

.layout-div3 img {
  width: 100%;
  height: 100%;
}

/* Fourth cont */
.layout-div4 {
  display: block;
  width: 5%;
  margin-left: 1150px;
  position: absolute;
  z-index: 4;
  margin-top: 110px;
  height: 700px;
}

.layout-div4 p{
  rotate: 90deg;
  margin-bottom: 60px;
  color: var(--color2);
}

.layout-div4 img{
  height: 100px;
  width: 40%;
  margin: 0 0 0 20px;
}

.layout-div4 div:nth-of-type(2){
  height: 200px;
  margin-top: 70px;
}

.layout-div4 div:nth-of-type(2) div{
  border: none;
  width: 70%;
  height: 23%;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: var(--bg-color1);
}

.layout-div4 div:nth-of-type(2) div a{
  color: var(--color);
  margin-left: 15px;
}
.layout-div4 div:nth-of-type(2) div .fa{
  margin-top: 13px;
}

/* Scroll section  */

.scroll-text{
  width: calc(200px * 16);
  display: flex;
  align-items: center;
  animation: slide-ads 20s linear infinite;
  justify-content: space-between;
  height: 100%;
  gap: 50px;
  background-color: var(--color3);
  padding-top: 25px;
  padding-bottom: 25px;
  border: none;
}   

.scroll2{
  animation: slide-ads2 20s linear infinite;
  width: calc(200px * 16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 50px;
  background-color: var(--color3);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 40px;
}


/* Section one */
.section1 {
  padding: 10px;
}

.starImage {
  width: 30px;
  margin: 90px auto 30px auto;
  /* animation: show-star 3s ease ; */
}

.starPara {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 43px;
  font-weight: 300;
  /* animation: move-up 1.5s ease-in-out; */
}

.starBtns {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  display: flex; 
  /* justify-content: space-around; */
  gap: 5;
  align-items: center;
}

.starBtns button{
   margin: 0 0 0 0;
   border: none;
   border-radius: 10px;
   color: var(--color);
   background-color: var(--bg-color3);
   font-size: 20px;
} 

.starBtns button:nth-of-type(1) {
  height: 60px;
  width: 130px;
}

.starBtns button:nth-of-type(2) {
  height: 60px;
  width: 190px;
  margin-right: -151;
}

.starBtns button:nth-of-type(3)  {
  height: 60px;
  width: 190px;
  margin-left: -5px;
}

.starBtns button:nth-of-type(4) {
  height: 60px;
  width: 130px;
}



/*  second container section one */
.mainPortfol {
  background-color: var(--bg-color3);
  width: 98%;
  margin: 80px auto 50px auto;
  border-radius: 10px;
  padding: 5px;
 display: flex;
 flex-direction: row;
 gap: 65px;

}

.manSeat {
  width: 40%;
  height: 500px;
  margin-top: 50px;
  transition: 2s ease-in;
}

.manSeat img{
  width: 100%;
  height: 100%;
}

/* Aside subsection */
.generalAside {
  /* border: 1px solid red; */
  padding: 2px;
  width: 50%;
}



.portfol1 h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;
  animation: move-up 0.5s linear;
}

#moving-up {
  animation: move-up 1.5s linear;
}

.theWrap{
  animation: expand-in 0.7s linear;
}

.portfol1 div:nth-of-type(1) p{
  width: 100%;
  margin: 0 auto;
  color: var(--color2);
  font-size: 19px;
  margin-bottom: 40px;
}

.theWrap{
  display: flex;
  flex-wrap: wrap;
}

.personalInfo div:nth-of-type(2) div{
  border: none;
  margin: 20px auto 20px auto;
  background-color: var(--bg-color4);
  border-radius: 10px;
  width: 45%;
  height: 140px;
  box-sizing: border-box;
  padding-top: 1px;
 
}
.personalInfo div:nth-of-type(2) div:hover{
  border: 1px solid var(--color3);
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}

 .bio p{
  color: var(--color2);
  margin: 30px 0 10px 35px;
  font-size: 19px;
  width: 150px;
}

#firstP {
  margin: 30px 0 10px 35px;
}

.portfol1 div:nth-of-type(2) a{
  color: var(--color);
  font-size: 19px;
  margin: 10px 0 2px 35px;
  font-weight: 300;
  
}

#connect{
  display: flex;
  height: 35px;
  width: 200px;
  border: none;
  margin-left: 33px;
}

#connect a {
  margin: -10px 8px 0 8px;
  font-size: 25px;
}



/* Experinece */
/* .portfol2{
  animation: move-up 0.5s ease-in;
} */


.portfol2 h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;

}

.portfol2 div:nth-of-type(1) p{
  width: 100%;
  margin: 0 auto;
  color: var(--color2);
  font-size: 19px;
  margin-bottom: 40px;
}


.theJob .containerWork{
  width: 95%;
  height: 120px;
  border-top: var(--color4) 1px solid;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theJob .containerWork:hover{
  border-top: 1px solid var(--color3);
}

.containerWork div:nth-of-type(1) p{
  color: var(--color3);
  margin-top: 35px;
}

.containerWork div:nth-of-type(2) h3{
  font-size: 22px;
  font-weight: 400;
  margin-top: -40px;
  margin-bottom: 15px;
}

.containerWork div:nth-of-type(2) p{
  margin-top: 15px;
  font-weight: 400;
  color: var(--color2);
  font-size: 18px;
  font-weight: 400;
}

.number3 {
  border-bottom: var(--color4) 1px solid;
  border-top: var(--color4) 1px solid;
}

.number3:hover{
  border-bottom: var(--color3) 1px solid;
  border-top: var(--color3) 1px solid;
}

.downing {
  margin-top: 70px;
}

/* School */

.portfol3 h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;

}

.portfol3 div:nth-of-type(1) p{
  width: 100%;
  margin: 0 auto;
  color: var(--color2);
  font-size: 19px;
  margin-bottom: 40px;
}


.theEdu .containerSchool{
  width: 95%;
  height: 120px;
  border-top: var(--color4) 1px solid;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theEdu .containerSchool:hover{
  border-top: 1px solid var(--color3);
}

.containerSchool div:nth-of-type(1) p{
  color: var(--color3);
  margin-top: 35px;
}

.containerSchool div:nth-of-type(2) h3{
  font-size: 22px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: -10px;
}

.containerSchool div:nth-of-type(2) p{
  margin-bottom: 40px;
  font-weight: 400;
  color: var(--color2);
  font-size: 18px;
  font-weight: 400;
}

.number3 {
  border-bottom: var(--color4) 1px solid;
  border-top: var(--color4) 1px solid;
}

.number3:hover{
  border-bottom: var(--color3) 1px solid;
  border-top: var(--color3) 1px solid;
}

.moveDown{
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: -20px;
}
.moveDown p{
  /* margin-top: 10x; */
  margin-bottom: -30px;
}

.moveDown h3{
  margin-top: -20px;
}

/* Skills */

.portfol4 h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;

}

.portfol4 div:nth-of-type(1) p{
  width: 100%;
  margin: 0 auto;
  color: var(--color2);
  font-size: 19px;
  margin-bottom: 40px;
}

.skillful {
  display: flex;
  flex-wrap: wrap;
}

.realSkill {
    margin: 25px auto 25px auto;
    background-color: var(--bg-color4);
    border-radius: 10px;
    width: 45%;
    height: 160px;
    display: flex;
    justify-content: center;
    /* gap: 5; */
} 

.realSkill:hover{
  border: 1px solid var(--color3);
}

.skillLogo {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

.skillLogo img{
  width: 100%;
  height: 100%;
}

.realSkill div:nth-of-type(2){
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 10px;
}

.realSkill div:nth-of-type(2) p{
  font-size: 16px;
  color: var(--color2);
  margin-left: 14px;
  margin-top: 25px;
}

.realSkill div:nth-of-type(2) h3{
  font-size:50px;
  font-weight: 600;
  margin-top: -20px;
  margin-left:15px ; 
}

#eight5 {
  margin-top: -45px;
}

.hidden {
  display: none;
}

.selected {
  background-color: var(--color3);
  color: var(--bg-color2);
}


/* Section 2 */

.awards {
  display: flex;
  flex-direction: column;
  color: var(--color);
  background-color: var(--bg-color3);
  padding: 50px 10px 50px 10px;
}

.awards div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: solid 1px var(--color4);
  width: 100%;
}

.awards div:nth-of-type(1) {
  border-top: none;
}

.awards div:nth-of-type(1) h1{
  font-weight: 400;
  font-size: 45px;
}

.awards div:nth-of-type(1) a{
  color: var(--color3);
  font-size: 20px;
}

.awards div:nth-of-type(5){
  border-bottom: solid 1px var(--color4);
  margin-bottom: 50px;
}

.awards div p:nth-of-type(1){
  width: 200px;
}
.awards div p:nth-of-type(2){
  margin-left: -40px;
  width: 200px;
}

.awards div p{
  font-size:20px ;
}

/* Section 3 */

.feedBack {
  color: var(--color);
  padding: 10px;
}

.completeProject {
  margin-top: 90px
}

.feedBack .completeProject h3{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: var(--color3);
  max-width: 35%;
  margin: 50px auto;
  position: relative;
}

.feedBack .completeProject h3:before {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background: var(--color3);
  left: 15px;
  top: 50%;
  position: absolute;
}

.feedBack .completeProject h3:after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background: var(--color3);
  right: 15px;
  top: 50%;
  position: absolute;
}

.completeProject p{
  font-size: 55px;
  text-align: center;
  line-height: 70px;
  width: 70%;
  margin: 0 auto 60px auto;
}

/* Product images */

.uiuxProductDesign {
  width: 100%;
  display: flex;
  gap: 50px;
}
.insideProductDesign{
  width: 100%;
}

.uiuxProductDesign img{
  width: 100%;
  border-radius: 15px;
}
.uiuxProductDesign h2{
  font-weight: 400;
  font-size: 20px;
  color: var(--color3);
}

.uiuxProductDesign p{
  font-size: 22px;
  width: 90%;
}

.uiuxProductDesign span{
  background-color: var(--bg-color3);
  margin-left: 10px;
  width: 60px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.brandName{
  display: flex;
  margin-top: -30px;
}

.brandName a{
  color: var(--color);
  font-size: 30px;
  margin-left: 15px;
}

/* The circle */
.moreWork {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--color3);
  margin: 60px auto 60px auto;
  position: relative;
}

.moreWork::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid var(--color3);
  background: transparent;
  position: absolute;
  top: 8px;
  left: -8px;
}



.moreWork #moreLink{
  color: var(--bg-color2);
  font-size: 18px;
  margin-left:30px;
  width: 80%;
  margin-top: 65px;
  position: absolute;
}

#moreLink span{
  margin-left: 45px;
  font-size: 35px;
}

/* Section 4 */

.needAProject{
  padding: 5px;
  background: var(--bg-color3);
  color: var(--color);
  display: flex;
  gap: 100px;
  padding-bottom: 80px;
}

.getProject {
  display: flex;
  flex-direction: column;
  width: 55%;
  border-radius: 10px;
  gap: 10px;
  margin-top: 90px;
}



.together h3 {
  font-size: 30px;
  font-weight: 400;
  color: var(--color3);
  margin: 35px 0 0px 50px;
  position: relative;
  max-width: 45%;
}

.together h3:before {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: var(--color3);
  left: -35px;
  top: 50%;
  position: absolute;
}

.together p {
  font-size: 70px;
  /* text-align: center; */
  line-height: 60px;
  margin-bottom: 35px;
  width: 90%;
  margin-top: 20px;
}

.emailAndLocation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reachOut {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  gap: 20px;
  border-top: 1px solid var(--color4);
  border-bottom: 1px solid var(--color4);
}

.reachOut p {
  font-size: 20px;
  color: var(--color2);
  margin-bottom: 5px;
  margin-top: -5px;
}

.reachOut a{
  font-size: 16px;
  color: var(--color);
  margin-top: -5px;
}

.connectLocation {
  border-top: none;
}

.reachOut {
  height: 120px;
}
.reachOut div:nth-of-type(1) {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: var(--color3);
}

.reachOut .fa-envelope {
  font-size: 25px;
  color:var(--bg-color2);
  margin-left: 18px;
  margin-top: 15px;
}

.reachOut .fa-map-marker {
  font-size: 30px;
  color:var(--bg-color2);
  margin-left: 23px;
  margin-top: 15px;
}

.reachOut:hover {
  border-bottom: 1px solid var(--color3);
}

#setIt {
  width: 35%;
  height: 550px;
  margin-top: 100px;
}

#setIt img{
  width: 100%;
  height: 100%;
}

/* Section 5 */

.serviceToProvide{
  color: var(--color);
  width: 100%;
  padding-bottom: 90px;
}

.ourService {
  width: 100%;
  margin-top: 90px;
}

.ourService h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: var(--color3);
  max-width: 35%;
  margin: 50px auto;
  position: relative;
}

.ourService h3::before {
  content: "";
  display: block;
  width: 80px;
  height: 1.5px;
  background: var(--color3);
  left: -10px;
  top: 50%;
  position: absolute;
}

.ourService h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 1.5px;
  background: var(--color3);
  right: -10px;
  top: 50%;
  position: absolute;
}


.ourService p{
  font-size: 60px;
  text-align: center;
  line-height: 70px;
  width: 70%;
  margin: 0px auto 60px auto;
}

.listOfServices {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.listContainers  {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color4);
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.listContainers *{
  margin-top: 35px;
}

.listContainers:nth-of-type(1) {
  border-top: 1px solid var(--color4);
}

.listContainers div:nth-of-type(1) h1{
  margin-left: 90px ;
  font-weight: 400;
  font-size: 45px;
  margin-top: -20px;
  width: 400px;
}

.listContainers div:nth-of-type(1) h3{
  font-weight: 400;
  font-size: 25px;

}

.listContainers div:nth-of-type(1) h3 span{
  font-size: 25px;
  margin-right: 60px;
}

.listContainers div:nth-of-type(2){
  width: 35%;
}

.listContainers div:nth-of-type(2) p{
  font-size: 17px;
  font-weight: 400;
  color: var(--color2);
  width: 100%;
  margin-top: 10px;
}

.listContainers div:nth-of-type(3) {
  background: var(--bg-color3);
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 60px;
}

.listContainers div:nth-of-type(3) a{
  color: var(--color);
  font-size: 25px;
  margin-top: 13px;
  margin-left: 20px;
  position: absolute;
}

.listContainers:hover{
  border-bottom: 1px solid var(--color3);
}

 /* Section 6 */
 .dreamWebsite {
  color: var(--color);
  background: var(--bg-color3);
  padding: 5px;
  border: none;
  padding-bottom: 80px;
}

.dreamWebsite h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: var(--color3);
  max-width: 35%;
  margin: 50px auto;
  position: relative;
  margin-top: 90px;
}

.dreamWebsite h3::before {
  content: "";
  display: block;
  width: 85px;
  height: 1.5px;
  background: var(--color3);
  left: 15px;
  top: 50%;
  position: absolute;
}

.dreamWebsite h3::after {
  content: "";
  display: block;
  width: 85px;
  height: 1.5px;
  background: var(--color3);
  right: 15px;
  top: 50%;
  position: absolute;
}

#firstDream {
  font-size: 60px;
  text-align: center;
  line-height: 70px;
  width: 70%;
  margin: 0px auto 60px auto;
}

.unorderedListing {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.unorderedListing div{
  border: 1px solid var(--color4);
  width: 30%;
  margin: 20px auto 20px auto;
  height: 360px;
}

.unorderedListing div:hover{
  border: 1px solid var(--color3);
}

.unorderedListing div *{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.unorderedListing div h2 {
  font-size: 35px;
  font-weight: 500;
}

.unorderedListing div p{
  font-size: 20px;
  margin-top: -20px;
  color: var(--color2);
}

.unorderedListing div li{
  color: var(--color2);
  font-size: 18px;
}

.unorderedListing div li::marker{
  color: var(--color3);
  font-size: 25px;
  margin-top: 5pz;
}

/* Section 7 */

.testimonial {
  padding: 5px;
  color: var(--color);
}

.testimonial h3{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: var(--color3);
  max-width: 35%;
  margin: 50px auto;
  position: relative;
  margin-top: 90px;
}

.testimonial h3::before{
  content: "";
  display: block;
  width: 85px;
  height: 1.5px;
  background: var(--color3);
  left: 40px;
  top: 50%;
  position: absolute;
}

.testimonial h3::after{
  content: "";
  display: block;
  width: 85px;
  height: 1.5px;
  background: var(--color3);
  right: 40px;
  top: 50%;
  position: absolute;
}

#testimony {
  font-size: 60px;
  text-align: center;
  line-height: 70px;
  width: 70%;
  margin: 0px auto 60px auto;
}

.movingTest {
  width: 700px;
  margin-top: 50px;
  background-image: url(../IMG/testimonial/quote-removebg-preview.png);
  background-repeat: no-repeat;
}

.movingTest p:nth-of-type(1){
  color: rgb(255,163,17);
  font-size: 30px;
}

.movingTest p:nth-of-type(2){
  font-style: italic;
  font-size: 20px;
}

.movingTest h2 {
  color: var(--color3);
  font-size: 28px;
  font-weight: 500;
  widows: 500px;
}

.movingTest p:nth-of-type(3){
  color: var(--color2);
  font-size: 20px;
  margin-top: -12px;
}

.customerTestify{
  display: flex;
  background: var(--bg-color3);
  width: 98%;
  margin: 0 auto  90px auto;
  border: none;
  border-radius: 15px;
  padding: 30px 20px 30px 20px;
  gap: 10px;
}

.customerTestify div:nth-of-type(1), .customerTestify div:nth-of-type(3){
  width: 300px;
}

.customerTestify div:nth-of-type(1), .customerTestify div:nth-of-type(3){
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.customerTestify div:nth-of-type(1) #smilingMan{
  width: 120px;
  height: 120px;
}

.customerTestify div:nth-of-type(1) #seriousMan {
  width: 190px;
}

.customerTestify div:nth-of-type(3) #manOnGlasses{
  width: 190px;
  margin-left:50px ;
}

.customerTestify div:nth-of-type(3) #twistArrow{
  width: 85px;
  height: 80px;
  margin-left: 80px;
}

/* Section 8 */

.blogs{
  width: 100%;
  color: var(--color);
  background: var(--bg-color3);
  padding: 5px;
  display: flex;
  padding-top: 90px ;
  padding-bottom: 90px;
}

.blogIntro {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: -60px;

} 

.blogIntro h3{
  font-size: 25px;
  font-weight: 400;
  color: var(--color3);
  max-width: 35%;
  margin: 50px 0 50px 100px;
  position: relative;

}

.blogIntro h3::before{
  content: "";
  display: block;
  width: 75px;
  height: 1px;
  background: var(--color3);
  left: -90px;
  top: 50%;
  position: absolute;
}

.blogIntro p{
  font-size: 60px;
  line-height: 70px;
  width: 70%;
  margin: -30px 0 40px 10px;
}

/* The circle */
.blogIntro div{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--color3);
  margin: 0 0 60px 10px;
  position: relative;
}

.blogIntro div::before{
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid var(--color3);
  background: transparent;
  position: absolute;
  top: 8px;
  left: -8px;
}

.blogIntro div a{
  color: var(--bg-color2);
  font-size: 20px;
  margin-left:25px;
  width: 80%;
  margin-top: 65px;
  position: absolute;
}

.blogIntro div span {
  margin-left: 55px;
  font-size: 30px;
}

.blogInfo{
  width: 85%;
}

.blogShowcase {
  display: flex;
  align-items: center;
  height: 200px;
}


.blogShowcase:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--color4);
  border-bottom: 1px solid var(--color4);
  padding-top: 30px;
  padding-bottom: 30px;
}

.blogShowcase:nth-of-type(1):hover{
  border-top: 1px solid var(--color3);
  border-bottom: 1px solid var(--color3);
}

.blogShowcase:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color4);
  padding-top: 30px;
  padding-bottom: 30px;
}

.blogShowcase:nth-of-type(2):hover{
  border-bottom: 1px solid var(--color3);
}

.blogShowcase:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color4);
  padding-top: 30px;
  padding-bottom: 30px;
}

.blogShowcase:nth-of-type(3):hover{
  border-bottom: 1px solid var(--color3);
}

#blogDate {
  color: var(--color2);
  border: 1px solid var(--color4);
  width: 50%;
  border-radius: 20px;
  height: 40px;
}

#blogDate p {
  margin-left: 15px;
  margin-top: 6px;
}

.blogShowcase div:nth-of-type(2){
width: 35%;

}


.blogShowcase img{
  width: 100%;
  margin-left: 0;
}

.blogShowcase div:nth-of-type(3){
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--color);
  margin: 20px 0 10px 75px;
}

.blogShowcase .fa {
  margin-left: 22px;
  margin-top: 20px;
}

.blogShowcase h2{
  font-weight: 500;
  font-size: 30px;
  line-height:38px ;
}

.blogShowcase div:nth-of-type(1) {
  width: 40%;
}

/* Section 9 */
.getInTouch{
  padding: 90px 5px 90px 5px;
  color: var(--color);
}

#veryBigHeader {
  font-size: 100px;
  border: 1px solid var(--color4);
  border-radius: 15px;
  width: 100%;
  height: 150px;
  align-content: center;
}

#veryBigHeader h1{
  font-weight: 300;
  text-align: center;
}

.letUsConnect {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.myself{
 width: 40%;
}


.myself p {
 font-size: 25px;
 margin-bottom: 60px;
}

.myself a{
 font-size: 40px;
 text-decoration: underline;
 color: var(--color);
 margin-top: 40px;
}

.connectWithMe {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
  justify-content: space-between;
}

.connectWithMe div {
  border: 1px solid var(--color4);
  border-radius: 15px;
  height: 90px;
  align-content: center;
  width: 40%;
  
}

.connectWithMe a {
  color: var(--color);
  font-size: 25px;
  margin-left: 25px;
}

.connectWithMe a span {
  margin-left: 100px;
}

.connectWithMe div:nth-of-type(2) span{
   margin-left: 130px;
}

.connectWithMe div:nth-of-type(3) span, .connectWithMe div:nth-of-type(4) span {
  margin-left: 110px;
}

.connectWithMe div:nth-of-type(1), .connectWithMe div:nth-of-type(3) {
 margin-left: 120px;
}


/* Footer */

.footer {
color: var(--color);
width: 100%;
display: flex;
flex-direction: row;
background: var(--bg-color3);
padding-top: 40px;
padding-bottom: 40px;
gap: 50px;
}

.footer div:nth-of-type(1){
  font-size: 20px;
  
}
.footer div:nth-of-type(1) a {
  color: var(--color3);
}

.footer div:nth-of-type(2){
  width: 30%;
  margin: 0 auto;
}

.footer div:nth-of-type(2) a:nth-of-type(2){
  margin-left: 15px;
}

.footer div:nth-of-type(3) {
    background: var(--color3);
    width: 3%;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
   align-content: center;
   text-align: center;
}

.footer div:nth-of-type(3) a {
   font-size: 25px;
   color: var(--bg-color2);
}



.footer div:nth-of-type(2) a {
 color: var(--color);
 font-size: 20px;
}

}